<nav class="teal lighten-3">
  <div class="navbar-fixed">
    <ul class="right hide-on-med-and-down">
      <li>
        {{#link-to 'register'}}
          Register
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'register'}}
          Log-in
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'todos'}}
          Your Lists
        {{/link-to}}
      </li>
      <li>
        <a href="#">Your Profile</a>
      </li>
      <li>
        <a href="#">Log-out</a>
      </li>
    </ul>
  </div>
</nav>

{{outlet}}