  <header class="center-align">
    <h1>Get your to-do Lists</h1>
  </header>
  <section>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#login">Login</a></li>
              <li class="tab"><a href="#register">Register</a></li>
            </ul>
          </div>
          <div class="card-content">
            <div id="register">
              <form>
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="name" type="text" class="validate" />
                  <label for="name">Your name :</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail</i>
                  <input id="email" type="email" class="validate" />
                  <label for="email">E-mail</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" class="validate" />
                  <label for="password">Password</label>
                </div>
                <div class="center-align">
                  <a class="waves-effect waves-light btn">
                    Register
                  </a>
                </div>
              </form>
            </div>
            <div id="login">
              <form>
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="login" type="email" class="validate" >
                  <label for="login">E-mail</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="pwd" type="password" class="validate" >
                  <label for="pwd">Password</label>
                </div>
                <div class="center-align">
                  <a class="waves-effect waves-light btn">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
</footer>