{{input value=new type="text" class="col s11" id="new" addNewTOdo="newTodo"}}
<div class="col s1">
  <a class="btn-floating red accent-1" id="id_button"{{action "addClicked"}}><i class="material-icons">add</i></a>
</div>

{{yield}}